.operating {
  position: relative;
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: center;
  &::v-deep button {
    padding: 0;
  }
  &::v-deep .red i {
    color: #f56c6c;
  }
  &::v-deep i {
    font-size: 1.2rem;
    vertical-align: middle;
  }
}
.el-pagination {
  margin: 10px 0;
  text-align: center;
}
.option {
  position: relative;
  display: flex;
  justify-content: flex-end;
  ::v-deep span,
  ::v-deep i {
    font-size: 1rem;
  }
}
